<main style="display: flex; flex-direction: column; height: 100vh; padding: 16px;">
  <header>
    <nav class="navbar">
      <img src="logo-light.png" height="60px" class="logo" />
      <ul class="navbar-list">
        <li><a href="/">Inicio</a></li>
        <li><a href="/employees">Empleados</a></li>
      </ul>
    </nav>
  </header>
  <section style="flex: 1; display: flex; flex-direction: column; margin-top: 16px;">
    <router-outlet></router-outlet>
  </section>
  <footer style="margin-top: auto;">Inmersys SAS</footer>
</main>
